VITE_AUTHGEAR_CLIENT_ID=siteadmin
VITE_AUTHGEAR_ENDPOINT=https://accounts.portal.authgear-site.com
VITE_AUTHGEAR_REDIRECT_URL=http://localhost:3000/auth-redirect
VITE_PORTAL_URL=your-portal-domain.example.com
VITE_SITEADMIN_API_URL=https://portal.authgear-site.com
